<div class="login-container">
    <h2>Login</h2>
    
    <%= form_with(scope: :session, url: '/login', method: :post) do |f| %>
        <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, class: "form-control", required: true %>
        </div>
        
        <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, class: "form-control", required: true %>
        </div>
        
        <div class="form-group">
            <%= f.submit "Login", class: "btn btn-primary" %>
        </div>
    <% end %>
</div>