<div class="container mt-5">
    <h1>Sign Up</h1>
    
    <%= form_with(model: @user, url: '/users', method: :post, local: true) do |f| %>
        <%# <% if @user.errors.any? %> %>
            <%# <div class="alert alert-danger"> %>
                <%# <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2> %>
                <%# <ul> %>
                    <%# <% @user.errors.full_messages.each do |message| %> %>
                        <%# <li><%= message %></li> %>
                    <%# <% end %> %>
                <%# </ul> %>
            <%# </div> %>
        <%# <% end %>  %>
        
        <div class="form-group">
            <%= f.label :username %>
            <%= f.text_field :username, class: 'form-control' %>
        </div>
        
        <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>
        </div>
        
        <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>
        </div>
        
        <div class="form-group">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
        
        <div class="form-group">
            <%= f.submit "Sign Up", class: 'btn btn-primary' %>
        </div>
    <% end %>
    
    <%# <p>Already have an account? <%= link_to "Log in", '/login' %></p> %>
</div>